<div class="first" >

  <div id="header">
    <div id="img">
      <img src="../../../assets/res/shopherelogo.png" alt="image" id="img" />
    </div>

  </div>

  <div id="desc">
    <p id="desc1">Welcome To The Shop</p>
    <p id="desc2">You can find best product at lowest price with fastest<br> delivery possible
      and in very easy manner.
    </p>
    <button mat-raised-button color="primary" >About</button>

  </div>

  <div id="login">
  <mat-tab-group>
    <mat-tab label="Login"> <app-login></app-login></mat-tab>
    <mat-tab label="Signup"> <app-signup></app-signup> </mat-tab>
  </mat-tab-group>

  </div>

</div>
