<div class="first" >

    <div id="header">
      <div id="img">
        <img src="../../../assets/res/shopherelogo.png" alt="image" id="img" />
      </div>
      <div class="ulli">
          <ul class="nav-menu">
              <li (click)="home()" >Home</li>
              <li (click)="profile()" >Profile</li>
              <li (click)="cart()" >Cart</li>
              <li (click)="logout()" >Logout</li>
            </ul>
      </div>


    </div>
    <div id="maindisp">
      <app-display></app-display>
    </div>

</div>
